/*
	QLAY - Sinclair QL emulator
	Copyright Jan Venema 1998
	Win95 resources
*/

#include "include/qlayw.h"

#ifndef WORKSHOP_INVOKED /* for tcw */
#include <windows.h>
#endif

QLAY ICON "qlay.ico"
QLAYCFG ICON "qlaycfg.ico"

CFG_DLG DIALOG LOADONCALL FIXED DISCARDABLE 4, 20, 324, 180
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "QLAYW Configuration"
FONT 8, "Helv"
BEGIN
	DEFPUSHBUTTON "OK", ID_OK, 210, 156, 33, 20, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "CANCEL", ID_CANCEL, 248, 156, 33, 20, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	PUSHBUTTON "SAVE", ID_SAVE, 286, 156, 33, 20, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "Memory size", -1, 258, 4, 44, 8
	CONTROL "combobx", ID_CBX_MS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 257, 14, 61, 47
	LTEXT "Screen size", -1, 257, 30, 44, 8
	CONTROL "combobx", ID_CBX_SS, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 257, 40, 61, 47
	CONTROL "Keyb language", -1, "STATIC", WS_CHILD | WS_VISIBLE | WS_GROUP, 257, 57, 66, 8
	CONTROL "combobx", ID_CBX_KBD, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_GROUP | WS_TABSTOP, 257, 67, 61, 47
	CONTROL "Speed", -1, "STATIC", SS_LEFT, 258, 91, 26, 12
	CONTROL "2000", ID_SPEED, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 287, 91, 30, 12
	CONTROL "Delay", -1, "STATIC", SS_LEFT, 258, 105, 25, 12
	CONTROL "0", ID_DELAY, "EDIT", ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 287, 105, 30, 12
	CONTROL "No mouse", ID_CHK_MOUSE, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 258, 123, 55, 12
	CONTROL "No altkeys", ID_CHK_ALTKEY, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 258, 137, 56, 12

	GROUPBOX "ROM", 116, 6, 3, 234, 65, WS_CHILD | WS_VISIBLE
	CONTROL "BOOT", -1, "STATIC", SS_LEFT, 10, 16, 23, 8
	CONTROL "js.rom", ID_ROM_BOOT, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 36, 13, 132, 12
	PUSHBUTTON ">>", ID_BRW_BOOT, 216, 13, 18, 12, WS_TABSTOP
	CONTROL "ROM1", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 32, 22, 13
	CONTROL "nfa.rom", ID_ROM_NFA, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 36, 31, 132, 12
	CONTROL "", ID_ADR_NFA, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 174, 30, 37, 33
	PUSHBUTTON ">>", ID_BRW_NFA, 216, 31, 18, 12, WS_TABSTOP
	CONTROL "ROM2", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 10, 49, 26, 11
	CONTROL "", ID_ROM_OTHER, "EDIT", ES_LEFT | WS_BORDER | WS_GROUP | WS_TABSTOP, 36, 49, 132, 12
	CONTROL "", ID_ADR_OTHER, "COMBOBOX", CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 174, 48, 37, 33
	PUSHBUTTON ">>", ID_BRW_OTHER, 216, 49, 18, 12, WS_TABSTOP

	GROUPBOX "WIN", 115, 6, 72, 197, 49, WS_CHILD | WS_VISIBLE
	EDITTEXT ID_WIN1, 34, 84, 135, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON ">>", ID_BRW_WIN1, 175, 83, 18, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "WIN1", -1, 11, 86, 23, 8
	EDITTEXT ID_WIN2, 34, 101, 135, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON ">>", ID_BRW_WIN2, 174, 102, 18, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "WIN2", -1, 11, 103, 23, 8

	GROUPBOX "MDV", 115, 6, 127, 196, 49, WS_CHILD | WS_VISIBLE
	EDITTEXT ID_MDV1, 34, 139, 135, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON ">>", ID_BRW_MDV1, 175, 139, 18, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "MDV1", -1, 11, 141, 23, 8
	EDITTEXT ID_MDV2, 34, 156, 135, 12, ES_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP
	PUSHBUTTON ">>", ID_BRW_MDV2, 175, 156, 18, 12, WS_CHILD | WS_VISIBLE | WS_TABSTOP
	LTEXT "MDV2", -1, 11, 158, 23, 8
END

QLAY MENU
BEGIN
        POPUP "&File "
        BEGIN
/*
	        MENUITEM "&Init! ",     IDM_INIT
	        MENUITEM "&Go! ",       IDM_GO
*/
                MENUITEM "&Exit ",	IDM_END
        END
/*
	POPUP "&Config "
	BEGIN
		MENUITEM "&Configure",	IDM_DLG_CFG
	END
*/
	POPUP "C&ommands "
	BEGIN
		MENUITEM "&Reset",	IDM_RESET
	END
	POPUP "&Screen "
	BEGIN
		MENUITEM "Size &1: 512x256",	IDM_SIZE1
		MENUITEM "Size &2: 512x341",	IDM_SIZE2
		MENUITEM "Size &3: 768x512",	IDM_SIZE3
		MENUITEM "Size &4: 1024x683",	IDM_SIZE4
		MENUITEM "Size &5: 1024x768",	IDM_SIZE5
	END
        POPUP "&Language "
        BEGIN
                MENUITEM "&English" ,   IDM_ENGLISH
                MENUITEM "&German " ,   IDM_GERMAN
        END
/*
	POPUP "&Test "
	BEGIN
		MENUITEM "Test &1",	IDM_TEST1
		MENUITEM "Test &2",	IDM_TEST2
		MENUITEM "Test &3",	IDM_TEST3
                MENUITEM "&Config",     IDM_CONFIG
	END
*/
        POPUP "&Help "
        BEGIN
                MENUITEM "&Help ",      IDM_HELP
                MENUITEM "&About",      IDM_ABOUT
        END
END

MENU_GERMAN MENU
BEGIN
        POPUP "&File "
        BEGIN
/*
	        MENUITEM "&Init! ",     IDM_INIT
	        MENUITEM "&Go! ",       IDM_GO
*/
                MENUITEM "&Ende",	IDM_END
        END
/*
	POPUP "&Config "
	BEGIN
		MENUITEM "&Configure",	IDM_DLG_CFG
	END
*/
	POPUP "C&ommands "
	BEGIN
		MENUITEM "&Reset",	IDM_RESET
	END
	POPUP "&Bildschrim "
	BEGIN
		MENUITEM "Size &1: 512x256",	IDM_SIZE1
		MENUITEM "Size &2: 512x341",	IDM_SIZE2
		MENUITEM "Size &3: 768x512",	IDM_SIZE3
		MENUITEM "Size &4: 1024x683",	IDM_SIZE4
		MENUITEM "Size &5: 1024x768",	IDM_SIZE5
	END
        POPUP "&Sprache "
        BEGIN
                MENUITEM "&Englisch" ,  IDM_ENGLISH
                MENUITEM "&Deutsch" ,   IDM_GERMAN
        END
/*
	POPUP "&Test "
	BEGIN
		MENUITEM "Test &1",	IDM_TEST1
		MENUITEM "Test &2",	IDM_TEST2
		MENUITEM "Test &3",	IDM_TEST3
                MENUITEM "&Config",     IDM_CONFIG
	END
*/
        POPUP "&Hilfe "
        BEGIN
                MENUITEM "&Hilfe",      IDM_HELP
                MENUITEM "&Autor",      IDM_ABOUT
        END
END

